    /* dark mode */
    .dark-mode {
        background-color: #121212;
        color: #f1f1f1;
    }

    .dark-mode a,
    .dark-mode nav,
    .dark-mode .card {
        background-color: #1e1e1e !important;
        color: #f1f1f1 !important;
    }

    .post-image {
        width: 100%;
        height: 400px;
        display: block;
        object-fit: contain;
        /* max-height: 600px; */
        object-position: center; /* Center the image */
    }
    /* recent popular */
    .filter-tabs {
        display: flex;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }
    .filter-tabs a {
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        background-color: #f0f0f0;
        color: #333;
    }
    .filter-tabs a.active {
        background-color: #007bff;
        color: white;
    }
    /* for posts/create.blade.php */
    .btn-instragram-story {
    background-color: #833AB4;
    border-color: #833AB4;
    color: #ffffff;
    }

    .btn-instragram-story:hover,
    .btn-instragram-story:focus {
    background-color: #6f35a3;
    border-color: #6f35a3;
    }
    .story-preview {
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
    border: 2px solid #833AB4;
    cursor: pointer;
    }
    /* for posts/show.blade.php */
    .post-image {
        width: 100%;
        display: block;
        object-fit: contain;
        height: auto;
        max-height: 70vh;
        cursor: pointer;
        object-position: center; /* Center the image */
        border-radius: 0.5rem;
    }
    
    .modal-img {
        max-width: 90vw;
        max-height: 90vh;
        width: auto;
        height: auto;
    }
    .modal-content {
        margin: 0px 3vw;
    }
    .modal-dialog
    {
        max-width: 100vw;
        
    }
    .modal-body img {
        max-height: 90vh;
        width: auto;
        height: auto;
        object-fit: contain;
        margin: auto;
    }
